<ion-header>
  <ion-toolbar>
    <ion-title>Horarios</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/main">Inicio</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding horarios-content">
  <div *ngIf="esAdmin" class="admin-actions">

  <ion-button
    expand="block"
    color="success"
    (click)="crearHorario()">

    <ion-icon
      slot="start"
      name="add-circle-outline">
    </ion-icon>

    NUEVO HORARIO

  </ion-button>

</div>

  <ion-card *ngIf="cargando">
    <ion-card-content>
      Cargando horarios...
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let horario of horarios" class="horario-card">

    <ion-card-header>
      <ion-card-title>
        {{ horario.fecha }} · {{ horario.hora }}
      </ion-card-title>

      <ion-card-subtitle>
        {{ horario.entrenador || 'Coach Manu' }}
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <p>
        <strong>Cupos disponibles:</strong>
        {{ horario.cuposDisponibles }} / {{ horario.cupos }}
      </p>

      <ion-progress-bar
        [value]="horario.cupos > 0 ? horario.cuposDisponibles / horario.cupos : 0">
      </ion-progress-bar>

      <div *ngIf="esAdmin" class="admin-buttons">

        <ion-button
          fill="outline"
          size="small"
          color="warning"
          (click)="editarHorario(horario)">

          Editar

        </ion-button>

        <ion-button
          fill="outline"
          size="small"
          color="danger"
          (click)="eliminarHorario(horario)">

          Eliminar

        </ion-button>

      </div>

    </ion-card-content>

  </ion-card>
