<ion-content class="login-content" fullscreen>
  <div class="auth-layout">

    <section class="brand-panel">
      <div class="brand-box">
        <div class="logo-icon">≋</div>
        <h1>GYM<br><span>OLYMPO</span></h1>
        <p>SALUD · FUERZA · MOVIMIENTO</p>

        <ul>
          <li>Gestión de planes y sesiones</li>
          <li>Reserva de bloques horarios</li>
          <li>Control de pagos y vigencias</li>
        </ul>
      </div>
    </section>

    <section class="form-panel">
      <div class="form-box">
        <h2>Iniciar Sesión</h2>
        <p class="subtitle">Accede a tu panel de entrenamiento</p>

        <p *ngIf="errorMessage" class="error-box">
          {{ errorMessage }}
        </p>

        <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">

          <label>Correo electrónico</label>
          <ion-item class="input-box" lines="none">
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-input
              type="email"
              formControlName="email"
              placeholder="correo@ejemplo.com">
            </ion-input>
          </ion-item>

          <label>Contraseña</label>
          <ion-item class="input-box" lines="none">
            <ion-icon name="lock-closed" slot="start"></ion-icon>
            <ion-input
              type="password"
              formControlName="password"
              placeholder="********">
            </ion-input>
          </ion-item>

          <div class="forgot">¿Olvidaste tu contraseña?</div>

          <ion-button
            expand="block"
            type="submit"
            class="btn-login"
            [disabled]="!formLogin.valid || loading">
            {{ loading ? 'Ingresando...' : 'Iniciar sesión' }}
          </ion-button>
        </form>

        <div class="divider"></div>

        <ion-button
          expand="block"
          fill="outline"
          class="btn-google"
          (click)="loginGoogle()">
          Continuar con Google
        </ion-button>

        <div class="register-box">
          ¿No tienes cuenta?
          <a routerLink="/register">Crear cuenta</a>
        </div>
      </div>
    </section>

  </div>
</ion-content>